<header class="header">
  <div class="container">
    <div class="header-logo">
      <img
        src="./../../../../assets/images/toast-logo.png"
        width="100"
        height="40"
      />
    </div>
    <nav>
      <ul>
        <li>
          <a routerLink="/content/welcome"> Home </a>
        </li>
        <li>
          <a routerLink="/content/post"> Post </a>
        </li>
        <li>
          <a routerLink="/content/about"> About </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
