@import "../../../../styles/index.scss";

.header {
  background: $light-primary;
}

.container {
  display: flex;
  align-items: center;
}

ul li {
  display: inline-block;
  padding: 1rem;
}

@include mediaScreen($phone-size) {
  .container {
    display: block;
  }

  ul li {
    display: block;
  }
}
