<section class="welcome">
  <div class="welcome__container">
    <i class="welcome--bg"></i>
    <div class="welcome__title welcome__title--color">
      <h2>{{ welcome.title }}</h2>
      <sub>{{ welcome.sub }}</sub>
    </div>
  </div>
</section>
<section class="content">
  <div class="content__container">
    <div class="content__title">
      <h2>{{ content.title }}</h2>
      <sub>{{ content.sub }}</sub>
    </div>
    <section class="content__card--list">
      <div class="content__card">
        <i class="card__icon"></i>
        <sub class="card--info">
          Upload a memorable photo with your mom to our website.
        </sub>
      </div>
    </section>
  </div>
</section>
