<section class="welcome">
  <div class="welcome__container">
    <i class="welcome--bg"></i>
    <div class="welcome__title welcome__title--color">
      <h2>{{ welcome.title }}</h2>
      <sub>{{ welcome.sub }}</sub>
    </div>
  </div>
</section>
<section class="content">
  <div class="content__container">
    <div class="content__title">
      <h2>{{ content.title }}</h2>
      <sub>{{ content.sub }}</sub>
    </div>
    <div class="content__card">
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
    </div>
  </div>
</section>
