@import "./../../../styles/index.scss";

.welcome {
  &__container {
    position: relative;
  }
  &--bg {
    display: block;
    width: 100%;
    height: 400px;
    background-image: url("../../../assets/images/bg.jpg");
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
  }

  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
  }

  &__title--color {
    color: $light-primary;
  }

  &__title--color h2 {
    font-size: 2.5rem;
  }
}

.content {
  &__container {
    padding-top: 1rem;
  }

  &__title {
    text-align: center;
    margin: 0 5rem;
  }

  &__card {
    display: inline-block;
  }
}
